.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2.7rem;
}

.item {
	flex: 1;
	display: flex;
	align-items: center;
}
.item:last-child {
	justify-content: flex-end;
}

.signInButton {
	background-color: #d50000;
	padding: 0.6rem 1.2rem;
	color: white;
	border: none;
	outline: none;
	border-radius: 4px;
}
